@tailwind base;
@tailwind components;
@tailwind utilities;
.index{
    height: 100vh;

}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.md{
    
    position: absolute;
     top: 30%;
     width: 40rem; 
     left: 30%;
    
}
.blure{
height: 100vh;
filter: blur(1);
}
/* blur */
.xs{
    backdrop-filter: blur(2px);
}
.plus{
    background: #4f44a7;
    border-radius: 50%;
    transform: translateY(-2rem);
}

.line{
    transform: translatey(-.9rem);
}